<!DOCTYPE html>
<html>
  <head>
    <% content_for :title, "Import production data" %>
  </head>

  <body>
    <h1>Import production data</h1>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <% if flash[:notice] %>
      <div><%= flash[:notice] %></div>
    <% end %>

    <%= form_with url: import_path, multipart: true do |form| %>
      <%= form.label :production_file, "Import a production data file. (Only .csv accepted)" %>
      <%= file_field_tag :production_file, accept: ".csv, text/csv" %>
      <%= submit_tag "Submit" %>
    <% end %>
  </body>
</html>